[Desktop Entry]
Type=Application
Name=Heroes Of Newerth
GenericName=Multiplayer Game
Comment=Heroes of Newerth
Icon=/honicon_128x128
Exec=/AppRun
Categories=Game;
